<h1>Welcome to my site</h1>

<a href="users/sign_in">Sign In</a>
<a href="/users/sign_up">New User Signup</a>
<a href="/posts">See All Posts</a>
<a href="posts/new">Create New Post</a>

<%= button_to "logout", destroy_user_session_path, method: :delete %>